{#
/**
 * Default template for WW Toolbar Menus.
 *
 * Available Variables:
 * - menu_id: The menu name.
 * - menu: A renderable for the menu.
 */
#}
<div class="ww_toolbar_menu">
  {{ menu }}
</div>
